#root {
    width: 100%;
}

.table-header {
  position: sticky;
  top: 0;
  text-transform: uppercase;
  font-weight: bold;
  background: whitesmoke;
}

.table-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: center;
  padding: 50px 30px;
  border-bottom: 1px solid gray;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px;
}
